html,
body {
  min-height: 100%;
}

.container {
  background-color: var(--surface-1);
  border: 2px solid var(--stroke);
  color: var(--stroke);
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;

  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 540px;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 0.6rem;
  margin: 0;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}
